/*------------SET FOR EVERY SOURCE IN DROPDOWN MENU---------*/

#title {
	text-align: center;
	
}


#title h3 {
	color: #444;
}

/*----CONTAINERS FOR UDEMY COURSES----- UDEMY.HTML*/

#VIEW{
	margin-left: 10%;
}
/*End of UDEMY COURSES*/
/*Containers for Book HTML*/
#container1 {
	margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}
#container2 {
	margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}

#container3 {
	margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}

#container4 {
margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}

#container5 {
	margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}
#container6 {
	margin-left: 25%;
	width: 70%;
	height: 80%;
	line-height: 2;
}

/*--------END OF Book----------*/
/*---------Youtube course*/
#gridU {
	margin-left: 35%;
}

#gridU a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}


/*youtube.html------------*/
#gridY{
	margin-left: 30%;
	width: 50%;
}


/*------------END OF YOUTUBE.HTML----------*/

/*------------About.html----------------*/
#containerAb {
	margin-top: -1%;
	margin-left: 20%;
}
.Headers{
	margin-left: 28%
}
.pages {
	font-size: 1.3rem;
	color: #444;
	line-height: 1.5;
	width: 60%;
	margin-left: 28%;
	position: relative;
}
#aboutHead{
	margin-left: 7%;
}

#hr {
	border: 2px solid blue;
	width: 4%;
	position: relative;
	left: 76px;
	margin-top: 3%;
}
#aboutLife{
	border: 2px solid red;
	width: 100vw;
	margin: 0;
}
#pic {
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid black;
	width: 10em;
	margin-left: 12%;

	height: 10em;
	border-radius: 90%;
	box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.9);
	background-image: url(images/Aj.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.AboutContainer{
	margin-left: 30%;
}


/*----------------BOOKS.HTML SOURCES------------------*/
#BookContainer{
	margin-left: 40%;
}
#sub {
	height: 50vh;
	background-color: rgba(0, 0, 0, 0.05);
 /*---You have to use this in order to move the text down */
}

.sub1 {
/*---You have to use this in order to move the text down */
	
	font-size: 1.3rem;
	font-style: oblique;
	font-weight: bold;
	display: inline-block;
	width: 60%;
	line-height: 2rem;
	margin-top: 1%;
}
@media (max-width: 858px){
	.sub1{
		font-size: 1.25rem;
	font-style: oblique;
	font-weight: bold;
	display: inline-block;
	width: 80%;
	line-height: 1.8rem;
	margin-top: 1%;
	}
}
@media (max-width: 619px){
	.sub1{
		font-size: 1.25rem;
	
	font-weight: bold;
	display: inline-block;
	width: 85%;
	line-height: 1.75rem;
	margin-top: 1%;
	}
}
@media (max-width: 490px){
	.sub1{
		font-size: 1.3rem;
	
	font-weight: bold;
	display: inline-block;
	width: 95%;
	line-height: 1.35rem;
	
	}
}
#IMG{
	background-image: url(/Images/coding.webp);
	background-color: red;
}

/*------------bootcamp.html------------*/



#grid1 {
	margin-left: 25%;
	border: 1px solid black;
}

#grid a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

#rating{
	font-size: 1.2rem;
}

#overview{
	font-size: 1.2rem;
	
}
.head{
	font-size: 1.5em;
	margin-left: 30%;
}


/*----------------UDEMY.HTML-------------------*/
#udemyList{
	font-weight: bold;
}
.udemyHR{
	border-left: 5px solid blue;
	
}
#udemyContainer{
	
}
@media (max-width: 780px){
	#udemyList{
		margin-left: -5%;
	}
}
@media (max-width: 465px){
	#udemyList{
		margin-left: -10%;
	}
}
@media (max-width: 475px){
	#udemyList{
		margin-left: -25%;
	}
}


@media (max-width: 780px){
	#udemyContainer{
		margin-left: -10%;
	}
}
@media (max-width: 465px){
	#udemyContainer{
		margin-left: -25%;
	}
}
